#uploader.modal.fade(role="dialog", aria-labelledby="uploaderLabel" aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
        h4.modal-title#uploadheader 방법을 선택하세요
      .modal-body
        #imgAttaching.container-fluid
      .modal-footer
        button.btn.btn-default(data-dismiss="modal") Close
#mExtraInfo.modal
  p
  .row
    .col-lg-12
      textarea#freecontent.form-control(name="content",placeholder="자유 코멘트를 입력하세요", rows="10")
  p
  .row
    .col-lg-12
      input#tags.form-control(name="tags",placeholder="태그입력(상품명,가격,정보 등등 쉼표로 구분)")
#mUploader.modal
  .row
    .col-lg-6
      button.btn.btn-success.btn-large.btn-extend-full(data-dismiss="dropdown", onclick="modal.goStep('url-1',{targetId:'#mUrluploader'});")
        p &nbsp;
        i.fa.fa-share-alt-square.fa-5x
        p
          h3 사이트에서 선택
    .col-lg-6
      button.btn.btn-primary.btn-large.btn-extend-full(data-dismiss="dropdown", onclick="modal.goStep('file-1',{targetId:'#mFileuploader'});")
        p &nbsp;
        i.fa.fa-folder-open.fa-5x
        p
          h3 내 컴퓨터에서 찾기
#mFileuploader.modal
  form#upload(method="post", action="/uploads", enctype="multipart/form-data")
    #drop 여기에 파일 놓기
      br
      a 파일 열기
      input(type="file",name="upl",multiple)
    ul
#mUrluploader.modal
  form(name='mForm',onsubmit="return false")
    .row
      .col-lg-12
        .input-group
          input.form-control(type="text",name="urlofimage")
          .input-group-btn
            button.btn.btn-default(onclick="modal.searchImage({url:this.form.urlofimage.value});") go
      .checkbox.isDetail
        label
          span 자세히 검색
          input(type="checkbox", onchange="modal.setDetailSearch(this.checked);")
      p &nbsp;
      .col-lg-12
        .progress.progress-striped.active.hidden
          .progress-bar(role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%")
            span.sr-only 45% complete
#mCpgoods.modal
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
        h4.modal-title#uploadheader 방법을 선택하세요
      .modal-body
        #goodies_comp_body.container-fluid
          ul.nav.nav-tabs(role='tablist',id='goodies_tab')
          .tab-content
      .modal-footer
        button.btn.btn-default(data-dismiss="modal") Close
